

.header_container .user_infor a:hover {
    text-decoration: underline;
}


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tiêu đề của form */
.container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #007bff;
}

/* Các thẻ label và input */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}



input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Cảnh báo lỗi */
.toastr-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}
