.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}